@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

*::selection{
          color: #caf0f8;
          background-color: #03045e;
}

a{
          color: #212125;
          text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
          color: #caf0f8;
}

html,body{
          height: 100%;
          background-color: #00b4d8;
          width: 100%;
          font-family: "Poppins", sans-serif;
          scroll-behavior: smooth;
}

/* first frame ************************************************************************   */

.frame1{
          /* border: 1px solid ; */
 margin: 2vw;
 padding: 5vw;
 align-items: center;
 /* display: flex; */
 border-radius: 1vw;
 background: hsla(277, 78%, 59%, 1);

background: linear-gradient(90deg, hsla(277, 78%, 59%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(277, 78%, 59%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(277, 78%, 59%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#AA46E8", endColorstr="#19B0EC", GradientType=1 );
}

.frame1 > .heading > .one{
          display: flex;
          justify-content: center;
         
}

.frame1 > .heading > .one > .first{
          margin-right: .6vw;
}

.frame1 > .heading > .two{
          justify-content: center;
          display: flex;
}

.frame1 > .heading > .two > h1{
          font-size: 6vw;
}

.frame1 > .heading > p{
          display: flex;
          justify-content: end;
         font-family: cursive;
}

.frame1 > .boxes{
          margin-top: 9vh;
          display: flex;
          justify-content: center;
          gap: 6vw;
}

.frame1 > .boxes > .student{
          border: .22vw solid #caf0f8;
          background-color: #eb5e28;
          padding: 3vw;
          border-radius: 2vw;
          color: #caf0f8;
          font-size: 2vw;
          font-weight: 700;
}

.frame1 > .boxes > .student:hover{
          border: .22vw solid #caf0f8;
          background-color: #03045e;
         
}

.frame1 > .boxes > .teacher{
          border: .22vw solid #caf0f8;
          background-color: #eb5e28;
          padding: 3vw;
          border-radius: 2vw;
          color: #caf0f8;
          font-size: 2vw;
          font-weight: 700;
}


.frame1 > .boxes > .teacher:hover{
          border: .22vw solid #caf0f8;
          background-color: #03045e;
         
}



